$series-title: #7f8c8d;
$azul: #00214d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fade {
	opacity: 1;
	&:hover {
		opacity: 0.5;
	}
	transition: all 0.3s ease;
}
.menu {
	display: flex;
	background-color: #fffffe;
	margin: 1% 2% 0 2%;
	.logo {
		display: flex;
		font-size: 1.4em;
		font-family: 'Ibarra Real Nova', serif;
		color: $azul;
	}
	.items {
		display: flex;
		font-size: 1.4em;
		white-space: nowrap;
		a {
			font-family: 'Public Sans', sans-serif;
			color: $azul;
			text-decoration: none;
			font-weight: 100;
			margin: 0 5% 0 5%;
		}
	}
	@media only screen and (min-width: 468px) {
		justify-content: center;
		flex-wrap: wrap;
		.logo {
			justify-content: center;
			width: 100%;
			margin-top: 3%;
		}
		.items {
			justify-content: center;
			width: 100%;
			margin-top: 2%;
		}
	}
	@media only screen and (min-width: 992px) {
		justify-content: space-between;
		.logo {
			justify-content: flex-start;
			width: auto;
			margin-top: 1%;
		} 
		.items {
			justify-content: flex-end;
			width: auto;
			margin-top: 1%;
		}
	}
}

.series-title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Ibarra Real Nova', serif;
		font-size: 4em;
		margin-top: 50%;
		&:hover {
			cursor: pointer;
		}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4% 0% 0% 0%;
}

.contact-container {
	margin: 5% 0% 30% 0%;
}

.row {
	background-color: #FFFFFF;
	color: $azul;
	margin-bottom: 1%;
	img {
		width: auto;
		max-height: 70vh;
		transition: all 0.3s ease;
	}
}

.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	a {
		font-family: 'Public Sans', sans-serif;
		color: $azul;
		text-decoration: none;
		font-weight: 300;
		margin: 0% 1% 0% 1%;
		&:hover {
			background-color: $azul;
			color: #FFFFFF;
		}
	}
}

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Ibarra Real Nova', serif;
	font-size: 1em;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	font-family: 'Ibarra Real Nova', serif;
	font-size: 1em;
	margin: 3% 0% 3% 0%;
}